.myButton {
    position: relative;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF;
    width: 200px;
    height: 100px;
    background-color: rgb(255, 71, 71);
    overflow: hidden;
}

.myButton:hover {
    color: rgb(255, 71, 71);
    background-color: transparent;
    transition: 0.2s;
}

.myButton:hover::before {
    content: "";
    position: absolute;
    border: 2px solid transparent;
    width: 0px;
    height: 0px;
    top: 0;
    left: 0;
    animation: drawTop 0.5s 0.2s forwards;
}

@keyframes drawTop {
    0% {
        border-top: 2px solid rgb(255, 71, 71);
        width: 0px;
    }

    50% {
        border-top: 2px solid rgb(255, 71, 71);
        border-right: 2px solid rgb(255, 71, 71);
        width: 196px;
        height: 0px;
    }

    100% {
        border-top: 2px solid rgb(255, 71, 71);
        border-right: 2px solid rgb(255, 71, 71);
        width: 196px;
        height: 96px;
    }
}

.myButton:hover::after {
    content: "";
    position: absolute;
    border: 2px solid transparent;
    width: 0px;
    height: 0px;
    bottom: 0;
    right: 0;
    animation: drawBottom 0.5s 0.2s forwards;
}

@keyframes drawBottom {
    0% {
        border-bottom: 2px solid rgb(255, 71, 71);
        width: 0px;
    }

    50% {
        border-bottom: 2px solid rgb(255, 71, 71);
        border-left: 2px solid rgb(255, 71, 71);
        width: 196px;
        height: 0px;
    }

    100% {
        border-bottom: 2px solid rgb(255, 71, 71);
        border-left: 2px solid rgb(255, 71, 71);
        width: 196px;
        height: 96px;
    }
}

span.ripple {
    position: absolute;
    border-radius: 50%;
    transform: scale(0);
    animation: ripple 0.6s linear;
    background-color: rgba(255, 115, 115, 0.7);
}

@keyframes ripple {
    to {
        transform: scale(4);
        opacity: 0;
    }    
}